<div class="panel panel-primary"
        style="width: auto; margin:auto; margin-top: auto; background-color: rgba(255, 255, 255, 0.8);">
        <div class="panel-heading" style="background-color:#1CD878; color: white;">Gestion de Estudiantes</div>
        <div class="panel-body">
            <div class="row separar">
                <div class="col-sm-12">
                    <h1 class="textomod">Consulta de Estudiantes</h1>
                    <hr class="bg-info">
                    <div class="alert alert-info">
                        <strong>¡Informacion!</strong> ¡Sin novedades!
                    </div>
        <!--TABLA-->
        <div style="overflow-x:auto;">
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Consultar:</label>
                </div>  
                <div class="col-4">
                    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Consultar por ID y Nombre">
                </div>
            </div>
        <table class='table table-striped' *ngIf='estudiantes && estudiantes.length'>
            <thead>
                <tr>
                <tr>
                    <th>#</th>           
                    <th>Identificacion</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Correo</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estudiante of estudiantes | filtroEstudiante:searchText; index as i"  (click)="seleccionar(estudiante)">                
                <th scope="row">{{ i + 1 }}</th>
                <td>{{estudiante.identificacion}}</td>
                <td>{{estudiante.apellidos}}</td>
                <td>{{estudiante.nombres}}</td>
                <td>{{estudiante.correo}}</td>
                <td><button type="button" class="btn btn-success" routerLink="/estudianteedit/{{estudiante.identificacion}}">Gestionar</button></td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    </div>
    </div>
</div>