<div class="panel panel-primary"
        style="width: 50%; margin:auto; margin-top: auto; background-color: rgba(255, 255, 255, 0.8)">
        <div class="panel-heading" style="background-color: #1CD878; color: white;">Gestion de Usuario</div>
        <div class="panel-body">
            <div class="row separar">
                <div class="col-sm-12">
                    <h1 class="textomod">Login</h1>
                    <hr class="bg-info">
                    <div class="alert alert-warning">
                        <strong>¡Alerta!</strong> Aun no hay fechas establecidas!
                    </div>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row separar panel-heading">
                        <div class="col-sm-12">
                            <label>Usuario:</label>
                        </div>
                        <div class="col-sm-12">
                                <input [(ngModel)]="logear.usuario" formControlName="usuario" (blur)="get()" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" placeholder="Usuario"
                                type="text" />
                                <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                                        <div *ngIf="f.usuario.errors.required">Usuario requerido</div>
                                </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Contraseña:</label>
                        </div>
                        <div class="col-sm-12">
                                <input [(ngModel)]="logear.contra" formControlName="contra" (blur)="get()" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.contra.errors }" placeholder="Contraseña"
                                type="password" />
                                <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                                        <div *ngIf="f.usuario.errors.required">Contraseña requerida</div>
                                </div>
                        </div>
                    </div>

                    
                    <div class="row botonesayuda">
                        <div class="col-sm-12">
                            <button class="btn btn-success mr-2" >Logear</button>
                            <button class="btn btn-secondary" type="reset" (click)="onReset()">Limpiar</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
