
<div class="panel panel-primary"
style="width: auto; margin:auto; margin-top: auto; background-color: rgba(255, 255, 255, 0.8)">
<div class="panel-heading" style="background-color: #1CD878;color: white;">Gestion de rubricas</div>
<div class="panel-body">
    <div class="row separar">
        
        <div class="col-sm-12">
            <h1 class="textomod">Editar y Eliminar Rubricas</h1>
            <hr class="bg-info">
            <div class="alert alert-warning">
                <strong>¡Alerta!</strong> Cuidadito!
            </div>
            <div *ngIf="rubrica">   
            <div class="row separar">
                <div class="col-sm-2">
                        <label>Codigo:</label>
                </div>
                <div class="col-sm-4">
                        <input [(ngModel)]="rubrica.codigo" readonly="readonly" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

                <div class="col-sm-2">
                    <label>Titulo:</label>
                </div>
                <div class="col-sm-4">
                        <input [(ngModel)]="rubrica.titulo" readonly="readonly" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

            </div>
            <div class="row separar">

                <div class="col-sm-2">
                    <label>Pregunta #1:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="rubrica.item_1" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

                <div class="col-sm-2">
                    <label>Pregunta #2:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="rubrica.item_2" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

            </div>
            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #3:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_3" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #4:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_4" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>

            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #5:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_5" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #6:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_6" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>

                
            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #7:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_7" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #8:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_8" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
                
            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #9:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_9" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #10:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_10" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>

                
            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #11:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_11" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #12:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_12" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>

                
            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #13:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_13" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #14:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_14" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>

                
            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #15:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_15" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #16:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_16" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>

                
            </div>

            <div class="row separar">

                    <div class="col-sm-2">
                            <label>Pregunta #17:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_17" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>
        
                        <div class="col-sm-2">
                            <label>Pregunta #18:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_18" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div>             
            </div>
            <div class="row sperar">
                    <div class="col-sm-2">
                            <label>Pregunta #19:</label>
                        </div>
        
                        <div class="col-sm-4">
                                <input [(ngModel)]="rubrica.item_19" class="form-control" placeholder="digite titulo"
                                type="text" />
                        </div> 
            </div>




            <div class="row botonesayuda">
                <div class="col-sm-12">
                        <button class="btn btn-success mr-3"(click)="update()" >Modificar</button>
                        <button class="btn btn-danger"(click)="delete()" >Eliminar</button>
                </div>
            </div>
        </div>


        </div>
    </div>
</div>
</div>