<div class="panel panel-primary"
style="width: auto; margin:auto; margin-top: auto; background-color: rgba(255, 255, 255, 0.8)">
<div class="panel-heading" style="background-color: #1CD878;color: white;">Gestion de Cargos</div>
<div class="panel-body">
    <div class="row separar">
        
        <div class="col-sm-12">
            <h1 class="textomod">Asignar cargo a Docente</h1>
            <hr class="bg-info">
            <div class="alert alert-warning">
                <strong>¡Alerta!</strong> Cuidadito!
            </div>
            <div *ngIf="docente">   
            <div class="row separar">
                <div class="col-sm-2">
                        <label>Identificacion:</label>
                </div>
                <div class="col-sm-4">
                        <input [(ngModel)]="docente.identificacion" readonly="readonly" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

                <div class="col-sm-2">
                    <label>Cambiar Cargo:</label>
                </div>
                <div class="col-sm-4">
                        <select [(ngModel)]="docente.rol" class="form-control">
                                <option value="Docente">Docente</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Revisador">Revisador</option>
                                <option value="Calificador">Calificador</option>
                    </select>
                </div>

            </div>


            <div class="row botonesayuda">
                <div class="col-sm-12">
                        <button class="btn btn-success mr-3"(click)="update()" >Cambiar Rol</button>
                        <button class="btn btn-secondary mr-3"(click)="goBack()" >Volver</button>
                </div>
            </div>
        </div>


        </div>
    </div>
</div>
</div>