
<div class="panel panel-primary"
style="width: auto; margin:auto; margin-top: auto; background-color: rgba(255, 255, 255, 0.8)">
<div class="panel-heading" style="background-color: #1CD878;color: white;">Gestion de docentes</div>
<div class="panel-body">
        <div *ngIf="docente">  
    <div class="row separar">
        <div class="col-sm-12">
            <h1 class="textomod">Editar docente</h1>
            <hr class="bg-info">
            <div class="alert alert-info">
                <strong>¡Informacion!</strong> ¡El usuario de su cuenta sera su identificación!
            </div>
            <div class="alert alert-warning">
                <strong>¡Alerta!</strong> Todos los campos son obligatorios!
            </div>

            
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Identificacion:</label>
                </div>
                <div class="col-sm-4">
                        <input [(ngModel)]="docente.identificacion" readonly="readonly" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

                <div class="col-sm-2">
                    <label>Tipo:</label>
                </div>
                <div class="col-sm-4">
                        <input [(ngModel)]="docente.rol" readonly="readonly" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

            </div>
            <div class="row separar">

                <div class="col-sm-2">
                    <label>Primer Apellido:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="docente.primerApellido" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

                <div class="col-sm-2">
                    <label>Segundo Apellido:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="docente.segundoApellido" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>

            </div>
            <div class="row separar">

                    <div class="col-sm-2">
                        <label>Primer Nombre:</label>
                    </div>

                    <div class="col-sm-4">
                            <input [(ngModel)]="docente.primerNombre" class="form-control" placeholder="digite titulo"
                            type="text" />
                    </div>

                    <div class="col-sm-2">
                        <label>Segundo Nombre:</label>
                    </div>

                    <div class="col-sm-4">
                            <input [(ngModel)]="docente.segundoNombre" class="form-control" placeholder="digite titulo"
                            type="text" />
                    </div>

            </div>

            <div class="row separar">

                <div class="col-sm-2">
                    <label>Correo:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="docente.correo" class="form-control" readonly placeholder="digite titulo"
                            type="text" />
                </div>

                <div class="col-sm-2">
                    <label>Telefono:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="docente.telefono" class="form-control" placeholder="digite titulo"
                            type="text" />
                </div>

                
            </div>
            <div class="row botonesayuda">
                <div class="col-sm-12">
                        <button class="btn btn-success mr-1" (click)="update()" >Actualizar</button>
                        <button class="btn btn-secondary" type="reset" (click)="goBack()">Volver</button>
                </div>
            </div>


        </div>
    </div>
    </div>
</div>
</div>
